<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeFi Dashboard</title>
    <style>
        body {
            font-family: sans-serif;
        }

        ul {
            list-style-type: none;
        }

        .asset {
            background-color: whitesmoke;
            padding: 10px;
            border-radius: 20px;
            margin-bottom: 10px;
            border: 1px solid grey;
        }

        #asset-container {
            padding-left: 0;
            max-width: 500px;
            margin: auto;
        }

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        .title {
            text-align: center;
        }

        #loading-assets {
            text-align: center;
            display: none;
        }

        #connect-message {
            text-align: center;
        }

        @media (max-width: 600px) {
            .header {
                gap: 10px;
                flex-direction: column;
                font-size: 10pt;
            }
        }
    </style>
</head>
<body>
    <header class="header">
        <div id="wallet"></div>
        <w3m-core-button></w3m-core-button>
        <w3m-modal id="main-modal"></w3m-modal>
    </header>

    <h1 class="title">Your DeFi Dashboard</h1>

    <p id="connect-message">Connect wallet to see your assets</p>
    <p id="loading-assets">Loading assets...</p>

    <ul id="asset-container"></ul>

    <script src="build.js"></script>
</body>
</html>